apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: v1
kind: Secret
metadata:
  name: brevo-smtp
  namespace: monitoring
type: Opaque
stringData:
  GF_SMTP_USER: "{{ brevo_smtp_user | trim }}"       
  GF_SMTP_PASSWORD: "{{ brevo_smtp_password | trim }}" 
---
apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-smtp
  namespace: monitoring
type: Opaque
stringData:
  smtp_auth_password: "{{ brevo_smtp_password | trim }}"