[defaults]
inventory = inventories/dev/hosts.ini
host_key_checking = False
private_key_file = /home/dataops/.ssh/aws-kube-postgres
remote_user = rocky
roles_path = roles
log_path = /home/dataops/aws-kube-postgres/ansible/ansible.log
interpreter_python = /usr/bin/python3.9
